<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" [(ngModel)]="value" placeholder="Enter github username">
     <button type="button" (click)="searchUser()" [disabled]="!value" class="searchButton">
       Search
    </button>
  </div>
</div>

<div>
<div class="divTable gitHubUsers" *ngIf="pageRecords">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">Profile</div>
      <div class="divTableHead">Followers</div>
      <div class="divTableHead">Repo</div>
      <div class="divTableHead">Subscription Repo</div>
    </div>
  </div>
  <div class="divTableBody">
    <div class="divTableRow" *ngFor="let user of pageRecords">
      <div class="divTableCell">
        <img class="profile-pic" style="vertical-align: middle;" [src]="user.avatorUrl"/> &nbsp;
        <a href="{{ user.profileUrl }}">{{ user.userName }}</a>
      </div>
      <div class="divTableCell"> <span *ngIf="(user.followers | async)?.length">{{ (user.followers | async)?.length }} Followers </span></div>
      <div class="divTableCell">
        <div *ngFor="let repo of (user.repo | async) as list">
          <a href="{{ repo?.html_url }}">{{ repo?.name }} </a> 
          <div class="discription" *ngIf="repo?.description">&#9758;{{ repo?.description }} </div> 
        </div>
      </div>
      <div class="divTableCell">
        <div *ngFor="let subscription of (user.subscription | async) as list">
          <a href="{{ subscription?.html_url }}">{{ subscription?.name }} </a> 
        </div>
      </div>
    </div>
  </div>
</div>

    <app-paginater *ngIf="pager.currentPage" [pager]="pager" (gotoPage)="setPage($event)"></app-paginater>

</div>